<h1>News</h1>

<table>
<% @infos.each do |info| %>
  <tr class="<%= cycle('list_line_odd','list_line_even') %>">
  <td>
    <%= image_tag(info.image_url,class: 'list_image') %>
  </td>
<td class="list_description">
  <dl>
     <dt><%= info.title %></dt>
     <dd><%= truncate(strip_tags(info.description),length: 80) %></dd>
  </dl>
</td>


<td class="list_actions">
    <%= link_to 'Show', info %><br/>
    <%= link_to 'Edit', edit_info_path(info) %><br/>
    <%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Info', new_info_path %>
