<h2>2010 - Дыхание</h2>

01. День и ночь </br><%= mp3_player("/2010 - Breath/01. Stanza - Den' i noch.mp3") %></br>
02. Птица </br><%= mp3_player("/2010 - Breath/02. Stanza - Ptica.mp3") %></br>
03. Два шага до весны </br><%= mp3_player("/2010 - Breath/03. Stanza - Dva shaga do vesni.mp3") %></br>
04. Ангел </br><%= mp3_player("/2010 - Breath/04. Stanza - Angel.mp3") %></br>
05. Пьеса </br><%= mp3_player("/2010 - Breath/05. Stanza - Piesa.mp3") %></br>
06. Сердце </br><%= mp3_player("/2010 - Breath/06. Stanza - Serdce.mp3") %></br>
07. Ты не один </br><%= mp3_player("/2010 - Breath/07. Stanza - Ti ne odin.mp3") %></br>
08. Долгая ночь </br><%= mp3_player("/2010 - Breath/08. Stanza - Dolgaja noch.mp3") %></br>
09. Прелюдия любви </br><%= mp3_player("/2010 - Breath/09. Stanza - Preludija lubvi.mp3") %></br>
10. Наше над нами солнце </br><%= mp3_player("/2010 - Breath/10. Stanza - Nashe nad nami solnce.mp3") %></br>
11. Ти підвелася з колін</br><%= mp3_player("/2010 - Breath/11. Stanza - Tu pidvelasja z kolin.mp3") %></br>
12. Мокрые улицы </br><%= mp3_player("/2010 - Breath/12. Stanza - Mokrie ulici.mp3") %></br>
13. Сльозы солнца </br><%= mp3_player("/2010 - Breath/13. Stanza - Slozi solnca.mp3") %></br>

